
.Create-form {
    width: 400px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.Create-form h1 {
    color: rgb(115, 182, 146);
    text-align: center;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    
}

.Create-form input[type="text"],
.Create-form input[type="password"],
.Create-form input[type="username"],
.Create-form input[type="Email"],
.Create-form input[type="Adresse"],
.Create-form input[type="Age"]{
    flex-direction: column;
    width: 100%;
	padding: 20px;
	border: 1px solid #000000;
    margin-bottom: 20px;
	box-sizing:border-box;
    
}

.Create-form input[type="submit"] {
    width: 100%;
    padding: 20px;
    background-color: rgb(235, 213, 186);
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    align-items: left;
}





