h1 {
    color: rgb(115, 182, 146);
    text-align: center;
    font-size: 40px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: rgb(240, 218, 190);
}

.name1 {
    width: 400px;
	margin: 0 auto;
    padding: 30px;
	font-family: Tahoma, Geneva, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(235, 213, 186);
    border: 3px solid #fdfdfd;
}

.password1 {
    width: 400px;
	margin: 0 auto;
    padding: 30px;
	font-family: Tahoma, Geneva, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(235, 213, 186);
    border: 3px solid #fdfdfd;
}

.username1 {
    width: 400px;
	margin: 0 auto;
    padding: 30px;
	font-family: Tahoma, Geneva, sans-serif;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(235, 213, 186);
    border: 3px solid #fdfdfd;
    
}

