<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../style/createuser.css"> 
		<title>Login Form Tutorial</title>
		
	</head>
	<body>
		<div class="Create-form">
			<h1>Opret ny bruger</h1>
			<form action="saveuser" method="POST">
				<input type="text" class="Create-form" name="name" placeholder="Navn" required>
				<input type="password" class="Create-form" name="password" placeholder="Kode" required>
				<input type="username" class="Create-form"name="username" placeholder="Brugernavn" required>
				<input type="email" class="Create-form" name="email" placeholder="Email">
				<input type="Adresse" class="Create-form" name="Adresse" placeholder="Adresse" required>
				<input type="Adresse" class="Create-form" name="Age" placeholder="Alder" required>
				<input type="submit" class="Create-form">
			</form>
		</div>
	</body>
</html>