<script src="/views/tools.js"></script>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../style/createproduct.css"> 
		<button type="button" onclick="callMain()">Back </button><br><br>
		<title>Login Form Tutorial</title>
		
	</head>
	<body>
		<div class="CreateUser-form">
			<h1>Set a product for sale</h1>
			<form action="saveproduct" method="POST" enctype="multipart/form-data">
				<input type="text" name="productname" placeholder="Product name" required>
				<input type="file" name="productpicture" placeholder="billed" required>
                <input type="text" name="productcategory" placeholder="Categoty" required>
				<input type="number" name="productprice" placeholder="Price" required>
				<input type="submit" value = "Save">
			</form>
		</div>
	</body> 
</html>