<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../style/createuser.css"> 
		<title>Login Form</title>	
	</head>
	<script src="/views/tools.js"></script>
	<body>
	  <div class="container">
		<button type="button" onclick="callMain()">Back </button><br><br>
		<div class="Create-form">
			<h1>Create a new user</h1>	
			<form action="saveuser" method="POST">
				<input type="text" name="name" placeholder="Name" required>
				<input type="password" name="password" placeholder="password" required>
				<input type="username" name="username" placeholder="Username" required>
				<input type="Adresse" name="Adresse" placeholder="Addresse" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>