<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/Index.css"> 
    <title>Velkommen</title>
    <!-- Dette er forsiden rgb(185, 240, 199) -->


</head>
<body style="background-color:rgb(185, 240, 199);">
    <h1>DEN GRØNNE AVIS</h1>

 <div class="login">
    <button id='login'>Login</button> <!--knappen til login-->
</div>

<div class="newuser">
    <button id='newuser'>Create new user</button> <!--knappen til new user-->
</div>

</body>
</html>

<script type="text/javascript"> 
    document.getElementById("login").onclick = function () { 
        location.href = "login";
    }; 
    document.getElementById("newuser").onclick = function () {
        location.href = "createuser";
    };
</script>

<!--getElementById method returns the element that has the ID attribute with the specified value.-->
<!--når vi trykker på kappen, så bliver vi deigeret hen til get metoden i js-->