<!DOCTYPE html>
<link rel="stylesheet" href="../style/main.css"> 
<html>

<head>

<body style="background-color:rgb(185, 240, 199);">
<div class="test">
    <h1>The homepage of DEN GRØNNE AVIS</h1>
    <button id="adduser">Add User</button>
    <button id="updateuser">Update User</button>
    <button id="deleteuser">Delete User</button>
    <button id="addproduct">Add Product</button>
    <button id="updateproduct">Update Product</button>
    <button id="deleteproduct">Delete Product</button>
    <button id="productsbycategory">Products by categoryt</button>
    <button id="productsforsale">Products for sale</button>
    <button id="logout">Log out</button>
    </head>
</div>
</body>

</html>


<script type="text/javascript">
    document.getElementById("updateuser").onclick = function () {
        location.href = "/updateuser";
    };
    document.getElementById("deleteuser").onclick = function () {
        location.href = "/deleteuser";
    };
    document.getElementById("adduser").onclick = function () {
        location.href = "/views/createuser.html";
    };
    document.getElementById("logout").onclick = function () {
        location.href = "/logoutuser";
    };
    document.getElementById("updateproduct").onclick = function () {
        location.href = "/views/updateproduct.html";
    }
    document.getElementById("deleteproduct").onclick = function () {
        location.href = "/views/deleteproduct.html";
    };
    document.getElementById("addproduct").onclick = function () {
        location.href = "/createproduct";
    };
    document.getElementById("productsbycategory").onclick = function () {
        location.href = "/views/productsbycategory.html";
    };
    document.getElementById("productsforsale").onclick = function () {
        location.href = "/views/productsforsale.html";
    };
</script>