<script src="/views/tools.js"></script>

<body>
  <div class="container">
    <button type="button" onclick="callMain()">Back </button><br><br>
    <h1>Products for sale</h1>
    <div class="container">
      <table class="table" id="table">
        <thead>
          <tr>
            <th>Product #</th>
            <th>Product Name</th>
            <th>Product Picture</th>
            <th>Product Category</th>
            <th>Product Price</th>
          </tr>
        </thead>
        <tbody id="tableData">
        </tbody>
      </table>
    </div>
</body>

</html>

<script>
  var table = document.getElementById('table');
  var myTable = document.getElementById("tableData");
  var url = 'http://localhost:3000/getallproducts';
  createProductTable(table, tableData, url);
</script>