<script src="/views/tools.js"></script>
<body>
  <div class="container">
    <button type="button" onclick="callMain()">Back </button><br><br>
    <h1>Products by category</h1>
    <div class="container">
      <select id="productcategory" onchange="SelectedValue(this)">
      </select>
      <table id="table">
        <thead>
          <tr>
            <th>Product #</th>
            <th>Product Name</th>
            <th>Product Category</th>
            <th>Product Price</th>
            <th>Product Picture</th>
          </tr>
        </thead>
        <tbody id="tableData">
        </tbody>
      </table>
    </div>
</body>
<script>

  function FillTable(value) {
    var table = document.getElementById("table");
    var tableData = document.getElementById("tableData");
    var url = 'http://localhost:3000/showcategory?value=' + value;
    createProductTable(table, tableData, url);
  }

  function SelectedValue(sel) {
    var value = sel.options[sel.selectedIndex].value;
    FillTable(value);
  }

  function removeOptions(comboBox) {
    while (comboBox.options.length > 0) {
      comboBox.remove(0);
    }
  }

  var url = 'http://localhost:3000/getcategorylist';
  fetch(url, { method: 'GET' })
    .then(function (response) {
      if (!response.ok) {
        location.href = '/views/login.html'
      } else
        return response.json();
    }).then((data) => {
      var select = document.getElementById('productcategory');

      removeOptions(select);
      for (i = 0; i < data.length; i++) {
        var opt = document.createElement('option');
        opt.value = data[i];
        opt.innerHTML = data[i];
        select.appendChild(opt);
      }
      FillTable(data[0]);
    }).catch(error => console.warn(error));
</script>