<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style/updateuser.css"> 
    <title>Document</title>
    

</head>
<body style="background-color:rgb(185, 240, 199);">
        <h1>Update your accout</h1>
		<div class="UpdateUser-form"></div>
        <form action="saveuser" method="POST">
           <div class ="name1">
			<input type="text" name="name" placeholder="Navn" required value="<%= name %>"> 
		</div>
		<div class="password1">
			<input type="password" name="password" placeholder="Password" required value="<%= password %>">
        </div>
		<div class="username1">
			<input type="text" name="username" placeholder="Username" required value="<%= username %>">
		</div>
			<input type="submit" name = "Update">
        </form>
    </div>
</body>
</html>


