<script src="/views/tools.js"></script>
<body>
  <div class="container">
    <button type="button" onclick="callMain()">Back </button><br><br>
    <h1>Click on product to update</h1> 

    <table class="table" id="myTable">
      <thead>
        <tr>
          <th>Product #</th>
          <th>Product Name</th>
          <th>Product Picture</th>
          <th>Product Category</th>
          <th>Product Price</th>         
        </tr>
      </thead>
      <tbody id="data">
      </tbody>
    </table>
    <br><br>
  </div>

  <form action="/updateproductwithid" method="POST" enctype="multipart/form-data">
    <input type="text" name="productname" id="productname" placeholder="Product name" required>
    <input type="file" name="productpicture" id="productpicture" placeholder="billed" required>
    <input type="text" name="productcategory" id="productcategory" placeholder="Categoty" required>
    <input type="text" name="productprice" id="productprice" placeholder="Price" required>
    <input type="submit" value="Update">
  </form>
</body>

<script>

  fetch('http://localhost:3000/getallproducts', { method: 'GET' })
    .then(function (response) {
      if (!response.ok) {
        location.href = '/views/login.html'
      } else
        return response.json();
    }).then((data) => {
      var table = document.getElementById('data');
      var myTable = document.getElementById("myTable");
      var rowCount = myTable.rows.length;
      for (var x = rowCount - 1; x > 0; x--) {
        myTable.deleteRow(x);
      }
      let index = 1;
      for (let product of Object.values(data)) {
        const row = table.insertRow();
        row.onclick = function selectProduct(id) {
          var id = this.cells[0].innerHTML;
          fetch('http://localhost:3000/updateproductdetail?value=' + id, { method: 'GET' })
            .then(function (response) {
              if (!response.ok) {
                location.href = '/views/login.html'
              } else
                return response.json();
            }).then((data) => {
              product = Object.values(data)
              document.getElementById('productname').value = product[0]
              document.getElementById('productcategory').value = product[2]
              document.getElementById('productprice').value = product[3]
              console.log(data);
            })
            .catch(error => console.warn(error));
        }
        const id = row.insertCell(0)
        const title = row.insertCell(1);
        const picture = row.insertCell(2);
        const category = row.insertCell(3);
        const price = row.insertCell(4)
        id.innerHTML = index++;
        title.innerHTML = product.productname;
        picture.innerHTML = "<img src=http://localhost:3000/" + product.productpicture + " width=\"100\" height=\"100\">"
        category.innerHTML = product.productcategory;
        price.innerHTML = product.productprice;
      }
    }).catch(error => console.warn(error));

</script>